global:
  username: '11111@qq.com'
  password: '11111'
  dldir: '/home/pi/'
  HttpProxy: '192.168.1.1:8080'
tasks:
  星期一,Show By Rock!!:
    千夏: http://share.dmhy.org/topics/rss/rss.xml/topics/list?keyword=Show+By+Rock+team_id%3A283+%E7%B9%81%E9%AB%94+720+MP4&sort_id=2
  星期一,你好!!黃金拼圖:
    千夏: http://share.dmhy.org/topics/rss/rss.xml/topics/list?keyword=%E9%87%91%E6%8B%BC%7C%E8%89%B2%E9%A6%AC+team_id%3A283+%E7%B9%81%E9%AB%94+720+MP4&sort_id=2
    極影: http://share.dmhy.org/topics/rss/rss.xml/topics/list?keyword=%E9%87%91%E6%8B%BC%7C%E8%89%B2%E9%A6%AC+team_id%3A185+GB+720+MP4&sort_id=2
    華盟: http://share.dmhy.org/topics/rss/rss.xml/topics/list?keyword=%E9%87%91%E6%8B%BC%7C%E8%89%B2%E9%A6%AC+team_id%3A49+%E7%AE%80+720+MP4&sort_id=2
